/*
debug: env GTK_DEBUG=interactive ghostty
https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
*/

/* headerbar { */
/*   min-height: 24px; */
/*   padding: 0; */
/*   margin: 0; */
/* } */

tabbar {
  background-color: #1e1e2e;
  padding: 0px;
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
  background-color: #1e1e2e;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
}

tabbar tabbox tab:selected {
  background-color: #2aa198;
  color: #073642;
}

tabbar tabbox tab label {
  font-size: 16px;
}
